 <table class="table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col" text-align="center">Company Legal Name</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tenant of tenants"
    [class.selected]="tenant === selectedTenant"
    (click)="onSelect(tenant)">
 
      <td>{{tenant.company}}</td>
      <td>{{tenant.email}}</td>
      <td><button (click)="onBackupClick(tenant)">backup</button></td>
      <td><button (click)="onDeleteClick(tenant)">Delete</button></td>
    </tr>
  </tbody>
</table>

<app-tenant-list [tenant]="selectedTenant"></app-tenant-list>
