
<ion-header>

  <ion-navbar>
    <ion-title> Tenants</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="padding-top-50">

  <ion-list>
    <ion-item-sliding class="margin-item" *ngFor="let item of currentItems">
    
      <ion-item >
        <ion-avatar item-start>
          <span class="{{item.color}}-dot"></span>
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.about}}</p>
        <p class="font-size-15px">{{item.database}}</p>
        <ion-icon ios="ios-more" md="ios-more" ion-item (click)="moreDisplay(item.name)"></ion-icon>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
        
      </ion-item>
       <ion-item id="{{item.name}}" class="w3-container w3-hide menu">
          
            <div class="menu-delete">
               <ion-icon class="trash" ios="ios-trash" md="ios-trash-outline"></ion-icon>
               <p class="label">Delete</p>
            </div>
          
          <div class="menu-download">
             <ion-icon class="download" ios="ios-download" md="ios-download-outline"></ion-icon>
             <p class="label">Download</p>
          </div>
          <div class="menu-backup">
             <ion-icon class="backup" ios="ios-filing" md="ios-filing-outline"></ion-icon>
             <p class="label">Backup</p>
          </div>
           <div class="menu-restore">
             <ion-icon class="restore" ios="ios-refresh" md="ios-refresh-outline"></ion-icon>
             <p class="label">Restore</p>
          </div>
          <div class="menu-deactivate">
              <ion-icon class="deactivate" ios="ios-power" md="ios-power-outline"></ion-icon>
               <p class="label">Deactivate</p>
          </div>
          <div class="menu-edit">
              <ion-icon class="edit" ios="ios-more" md="ios-more-outline"></ion-icon>
              <p class="label">Edit</p>
          </div>
       </ion-item>
    
    </ion-item-sliding>

  </ion-list>
</ion-content>
