page-profile {

}

.avatar {
	width: 5em;
	float:left;
}
.other-info-title {
	color: #212E84 !important;
	text-align: left;
	margin-top: 100px !important;
}
.details {
	color: #212E84 !important;
	font-size: 1.5em;
}
.edit {
   position: absolute;
   right: 3px;
   top: 12px;
}
.display-block {
    text-align: left;
    margin-left: 20px;
	display:block;
	color: #212E84 !important;
}
