/*.login-wrapper .tenant-table {
    margin: 0 auto;
    padding: 35px 0 30px;
    float: none;
    -webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);

    width: 90%;
    background: rgba(255, 255, 255, 0.65);
}*/

.add-tenant {
	margin-right: 60px;
}

.status-btn {
	width : 150px;
}

.tenant-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}

.tenant-table td, .tenant-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tenant-table tr{background-color: #f2f2f2;}

.tenant-table tr:hover {background-color: #ddd;}

.tenant-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #87CEFA;
    color: #FF1493;
}